<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="m2166.com.testmvpdemo">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".page.MainActivity"
            android:theme="@style/BaseTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".page.login.MvpActivity"/>
        <activity android:name=".page.pay.PayActivity"/>
        <activity android:name=".page.butterknife.ButterknifeActivity"/>
        <activity android:name=".page.dao.DaoActivity"/>
		<activity android:name=".page.eventbus.EventFirstActivity"/>
        <activity android:name=".page.eventbus.EventSecondActivity"/>

        <activity android:name=".page.movie.MovieActivity"/>
        <activity android:name=".page.welfare.WelfareActivity"/>
        <activity android:name=".page.InnerView.InnerViewPagerActivity"/>
        <activity android:name=".page.auto.TextViewActivity"/>
        <activity android:name=".page.gridview.GridViewActivity"/>
        <activity android:name=".page.dialog.AlertDialogActivity"/>
        <activity android:name=".page.other_dialog.OtherDialogActivity"/>
        <activity android:name=".page.recycle.RecycleActivity"/>
        <activity android:name=".page.recycle_move.RecycleMoveActivity"/>
        <activity android:name=".page.asd.navigation_view.NavigationViewActivity"/>
        <activity android:name=".page.asd.floating_action_button.FloatingActionButtonActivity"/>
        <activity android:name=".page.asd.TextInputLayout.TextInputLayoutActivity"/>
        <activity android:name=".page.asd.snack_bar.SnackBarActivity"/>
        <activity android:name=".page.asd.app_bar_layout.AppBarLayoutActivity"/>
        <activity android:name=".page.asd.coordinator_layout.CoordinatorLayoutActivity"/>
        <activity android:name=".page.asd.collapsing_toolbar_layout.CollapsingToolBarActivity"/>
    </application>

</manifest>